{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
    <h1>Les réponses possibles à votre question : </h1>
     {% for question in question %}

    <h1>{{ question.label }}</h1>
           <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label_choice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
        {% if question.label == answer.question %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.labelChoice }}</td>
                <td>
                    <a href="{{ path('answer_show', {'id': answer.id}) }}">show</a>
                    <a href="{{ path('answer_edit', {'id': answer.id}) }}">edit</a>
                </td>
            </tr>
        
        {% endif %}
        {% endfor %}

        </tbody>
    </table>                                 
    {% endfor %}
    

    <a href="{{ path('answer_new') }}">Create new</a>
{% endblock %}
