{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container d-flex align-items-center h-100">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('app_login') }}">Retour à la connexion</a>
                <h1>Mot de passe oublié</h1>
                <div class="mb-3">
                    <p class="m-0">Réinitialisez votre mot de passe</p>
                </div>
                {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div>
                    <small>
                        Nous vous enverrons un lien pour réinitialiser votre mot de passe,
                        la réinitialisation est pour le moment exclue pour le domaine Gmail.
                    </small>
                </div>

                <button class="btn btn-primary mt-3 mb-2">Soumettre</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}