{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center min-vh-100 my-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('user_index') }}">
                        <button class="btn btn-primary mb-3" type="button">
                            Retour au profil
                        </button>
                    </a>
                    <div class="jumbotron mb-0">
                        <h1>Détail utilisateur</h1>
                        <p>Les détails du résultat de votre sondage.</p>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Roles</th>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>{{ user.password }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
